/* CSS styling for cards on the home page */
.page-home .card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 145px;
  text-align: center;
  max-width: 170px;
  display: inline-block;
}

.card .card-image {
  max-width: 60px;
  height: auto;
  border-radius: 5%;
  margin-bottom: 10px;

}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.header {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
  text-align: center;
  font-size: 150px;
  border-radius: 20px;
}

.subheader {
  margin: 10px;
  text-align: center;
  font-size: 50px;
}

.topMenu {
  text-align: center;
  background-color: cyan;
  border-radius: 20px;
}

.topMenuOption {
  display: inline-block;
  margin-left: 60px;
  margin-right: 60px;
}

.topMenuOption:hover {
  background-color: white;
}